
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="page-header text-center">
        <h1>Roles</h1>
    </div>
</div>

<div class="container" id="tableContainer">
    @{
        Html.RenderAction("RoleTable");
    }
</div>

<div class="container" id="actionContainer">

</div>

<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>