@model AtesShop.Web.Models.DownloadsViewModel

<h3>Downloads</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Downloads</th>
                <th>Expires</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Proecut Name Here</td>
                <td>May 10, 2018</td>
                <td>never</td>
                <td><a class="view" href="#">Click Here To Download Your File</a></td>
            </tr>
            <tr>
                <td>Proecut Name Here</td>
                <td>Sep 11, 2018</td>
                <td>never</td>
                <td><a class="view" href="#">Click Here To Download Your File</a></td>
            </tr>
        </tbody>
    </table>
</div>
