
<div class="cart-main-area pb-80 pb-sm-50">
    <div class="container">
        <div class="row mt-30">
            <div class="col-md-12">
                <div class="text-content pb-20"><p>Order succesfull.</p></div>
                <div class="row">
                    <!-- Cart Button Start -->
                    <div class="col-lg-8 col-md-7">
                        <div class="buttons-cart">
                            <a href="@Url.Action("Index", "Shop")">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>