@model List<AttributeSectionViewModel>

@{
    ViewBag.Title = "ASectionTable";
}

<div class="container">
    <div class="page-header">
        <h2>Attribute Sections</h2>
    </div>
</div>

<div class="container" id="tableContainer">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>AttributeSection Key</th>
                <th>Culture</th>
                <th>AttributeSection Value</th>
            </tr>
        </thead>
        <tbody>
            <tr><td colspan="5"></td></tr>
            @foreach (var elem in Model)
            {
                for (int i = 0; i < elem.ResourceCount; i++)
                {
                    <tr>
                        @if (i == 0)
                        {
                            <td rowspan="@elem.ResourceCount">@elem.ASectionResources[i].Key</td>
                        }


                        <td>@elem.ASectionResources[i].Culture</td>
                        <td>@elem.ASectionResources[i].Value</td>
                        
                    </tr>
                }
                <tr><td colspan="5"></td></tr>
            }
        </tbody>
    </table>
</div>


