
@{
    ViewBag.Title = AtesShop.Resources.Resources.PrivacyPolicy;
}

<div class="pb-60 pt-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="agreement-text">
                    @Html.Raw(AtesShop.Resources.Resources.PrivacyPolicyText)
                </div>
            </div>
        </div>
    </div>
</div>



