
@{
    ViewBag.Title = "Index";
}

<div class="container" id="actionContainer">

</div>

<div class="container" id="tableContainer">
    @{
        Html.RenderAction("CategoryTable");
    }
</div>


