
<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Shop")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li class="active"><a href="@Url.Action("Compare", "Generic")">Compare</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->

<div id="compareContainer">
    @{ 
        Html.RenderAction("CompareProducts");
    }
</div>

<script>
    var ajaxLoading = function () {
        focusAction();
        $("#compareContainer").html("<div id='ajax-loading-overlay'><div class='ajax-loader'></div></div>");
    }
</script>