
@{
    ViewBag.Title = AtesShop.Resources.Resources.Wishlist;
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-25">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li class="active"><a href="@Url.Action("Wishlist", "Generic")">@AtesShop.Resources.Resources.Wishlist</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Wish List Start -->
<div class="cart-main-area wish-list pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="wishlistContainer">
                    @{
                        Html.RenderAction("WishlistProducts");
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wish List End -->

<script>
    var focusAction = function () {
        $('html, body').animate({
            scrollTop: $('#wishlistContainer').offset().top - 250
        }, 700);
    }

    var ajaxLoading = function () {
        $("#wishlistContainer").append("<div id='ajax-loading-overlay'><div class='ajax-loader'></div></div>");
        focusAction();
    }

</script>
