@{
    ViewBag.Title = AtesShop.Resources.Resources.AboutT1O5;
}

<!-- About Main Area Start -->
<div class="about-main-area ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="about-img">
                    <img class="img" src="../Content/img/banner/about.jpg" alt="about-us">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h3>@AtesShop.Resources.Resources.PowerActiveAboutTitle</h3>
                    <p>@AtesShop.Resources.Resources.PowerActiveAboutText</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-bottom pt-50 pb-60">
    
</div>