@{
    ViewBag.Title = "About";
}

<!-- About Main Area Start -->
<div class="about-main-area ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="about-img">
                    <img class="img" src="../Content/img/banner/about.jpg" alt="about-us">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h3>Power Active Smart Surveillance </h3>
                    <p>Power Active Smart Surveillance is a new brand for the surveillance market. We focus on end user’s application and system security especially in network application.</p> <br>
                    <p>We know what you want and what you need, all we done is focus on your request.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-bottom pt-50 pb-60">
    
</div>