@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="compare.html"><i class="fa fa-user-o"></i></a>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        
    <ul class="ht-dropdown">
        <li>
            @Html.ActionLink("My Account", "Index", "Manage")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
    </ul>
    }
}
else
{   
    <a href="compare.html"><i class="fa fa-user-o"></i></a>
    <ul class="ht-dropdown">
        <li>@Html.ActionLink("Sign in", "Login", "Account")</li>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        
    </ul>
}
